.bioWraper{
    background-color: #28B858;
    font-family: 'Jost', sans-serif;
}
.imgCol{
    margin: 5% 2%;
}
.textCol{
    padding: 2.5% 5%;
}
.pBio{
    text-align: justify;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 2.5%;
}
.bioHeader{
    font-size: 3em;
    font-weight: 700;
}