@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
.info-div{
    font-family: 'Jost', sans-serif;
    margin: 0;
    width: 100vw;
    height: 50vh;
    background-color: #C8E542;
    display: block;
    padding: 5%;
  
}
#headerInfo {
    font-size: 3rem;
    font-weight: 600;
    display: block;
}

    

#p-info{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

@media screen and (max-width: 740px){
    #headerInfo {
        font-size: 2.5rem;
        font-weight: 500;
        display: block;
    }
    #p-info{
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: normal;
    }
    .info-div{
       
        width: 100vw;
        height: auto;
       
      
    }
}