@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
.app-header{
  position: relative;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  
}
 h1 {
  display: flex;
  width: 70%;
  position:absolute;
  align-items: center;
  justify-content: center;
  z-index:1;
  color: white;
  background-color: rgba(41, 38, 38, 0.507); 
  padding: 4%;

}
#mainHeader{
  font-family: 'Jost', sans-serif;
  font-size: 5rem;
  letter-spacing: normal;
  
}

.app-main{
  margin-top: 0;
  display: block;
  width: 100vw;
 

}
  

.logo-img{
  width: 20%;
  position: absolute;;
  display: flex;
  z-index:3;
  top: 5rem;
  left: 0rem;
}
